body{font-family: 'Times New Roman', Times, serif;
text-align: center;

}

h1{
    color: red;
    margin-top: 50px;
}

.logo {
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.sub-logo {
    margin-top: 0px;
    margin-left: 180px;
}
